In [18]:
import numpy as np
import os
oliv=np.loadtxt('/home/r201870087ja/整理済み中間層データ/pooling5/Aerial5.csv')

In [19]:
oliv.data.shape

(51200, 16)

In [21]:
oliv

array([[307.75067139, 325.29766846, 186.60882568, ...,  52.62240219,
        154.40296936, 183.60186768],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,  16.12711525],
       ...,
       [ 48.36883926,  28.26816177,   0.        , ...,  32.29114532,
         76.05625153,  53.52157974],
       [ 38.95759201,  41.3482399 ,  15.62483311, ...,   0.        ,
          7.75998402,  46.50101852],
       [  0.        ,   0.        ,   0.        , ...,   0.        ,
          0.        ,   0.        ]])

In [22]:
import pandas as pd

In [15]:
df = pd.read_csv('/home/r201870087ja/整理済み中間層データ/pooling5/Aerial5.csv')

In [4]:
print(df.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
51194    False
51195    False
51196    False
51197    False
51198     True
Length: 51199, dtype: bool

In [23]:
print(oliv[oliv.duplicated()])

AttributeError: 'numpy.ndarray' object has no attribute 'duplicated'

In [9]:
from collections import Counter

In [12]:
Counter(df)

Counter({'3.077506713867187500e+02 3.252976684570312500e+02 1.866088256835937500e+02 1.042947616577148438e+02 3.171563720703125000e+02 3.299643554687500000e+02 2.365834350585937500e+02 1.967996215820312500e+02 1.089354019165039062e+02 1.425560302734375000e+02 2.440303192138671875e+02 2.321274719238281250e+02 2.544204711914062500e+01 5.262240219116210938e+01 1.544029693603515625e+02 1.836018676757812500e+02': 1})

In [13]:
dup = [x for x in set(df) if df.count(x) > 1]

ValueError: No axis named 3.077506713867187500e+02 3.252976684570312500e+02 1.866088256835937500e+02 1.042947616577148438e+02 3.171563720703125000e+02 3.299643554687500000e+02 2.365834350585937500e+02 1.967996215820312500e+02 1.089354019165039062e+02 1.425560302734375000e+02 2.440303192138671875e+02 2.321274719238281250e+02 2.544204711914062500e+01 5.262240219116210938e+01 1.544029693603515625e+02 1.836018676757812500e+02 for object type <class 'pandas.core.frame.DataFrame'>

In [16]:
df

      3.077506713867187500e+02 3.252976684570312500e+02 1.866088256835937500e+02 1.042947616577148438e+02 3.171563720703125000e+02 3.299643554687500000e+02 2.365834350585937500e+02 1.967996215820312500e+02 1.089354019165039062e+02 1.425560302734375000e+02 2.440303192138671875e+02 2.321274719238281250e+02 2.544204711914062500e+01 5.262240219116210938e+01 1.544029693603515625e+02 1.836018676757812500e+02
0      0.000000000000000000e+00 0.000000000000000000e...
1      0.000000000000000000e+00 0.000000000000000000e...
2      1.562626457214355469e+01 1.273582267761230469e...
3      0.000000000000000000e+00 0.000000000000000000e...
4      6.425274372100830078e+00 0.000000000000000000e...
...                                                  ...
51194  3.198129653930664062e+01 3.708826446533203125e...
51195  9.025283050537109375e+01 1.041022186279296875e...
51196  4.836883926391601562e+01 2.826816177368164062e...
51197  3.895759201049804688e+01 4.134823989868164062e...
51198  0.000000000000000000e+00 0.000000000000000000e...

[51199 rows x 1 columns]