In [1]:
import pandas as pd

In [6]:
a = pd.read_csv('/home/r201870087ja/Desktop/Aerial5cnn.csv')

In [7]:
a

                                                     中間層
0      3.077506713867187500e+02 3.252976684570312500e...
1      0.000000000000000000e+00 0.000000000000000000e...
2      0.000000000000000000e+00 0.000000000000000000e...
3      1.562626457214355469e+01 1.273582267761230469e...
4      0.000000000000000000e+00 0.000000000000000000e...
...                                                  ...
51195  3.198129653930664062e+01 3.708826446533203125e...
51196  9.025283050537109375e+01 1.041022186279296875e...
51197  4.836883926391601562e+01 2.826816177368164062e...
51198  3.895759201049804688e+01 4.134823989868164062e...
51199  0.000000000000000000e+00 0.000000000000000000e...

[51200 rows x 1 columns]

In [8]:
import pandas as pd

In [9]:
from collections import Counter

In [10]:
Counter(a)

Counter({'中間層': 1})

In [12]:
print(a.duplicated())

0        False
1        False
2        False
3        False
4        False
         ...
51195    False
51196    False
51197    False
51198    False
51199     True
Length: 51200, dtype: bool

In [14]:
print(a[a.duplicated()])

                                                     中間層
6      0.000000000000000000e+00 0.000000000000000000e...
9      0.000000000000000000e+00 0.000000000000000000e...
10     0.000000000000000000e+00 0.000000000000000000e...
13     0.000000000000000000e+00 0.000000000000000000e...
16     0.000000000000000000e+00 0.000000000000000000e...
...                                                  ...
51182  0.000000000000000000e+00 0.000000000000000000e...
51188  0.000000000000000000e+00 0.000000000000000000e...
51190  0.000000000000000000e+00 0.000000000000000000e...
51192  0.000000000000000000e+00 0.000000000000000000e...
51199  0.000000000000000000e+00 0.000000000000000000e...

[12992 rows x 1 columns]